@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');
/* UNIVERSAL */
* {
    margin: 0 0;
    padding: 0 0;

}

body {
    font-family: 'Arvo', serif;
}
/* UNIVERSAL END */



/* HEADER START */
header nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 700;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}
.fa-search,.fa-shopping-cart{
    font-size: 22px;
}
/* HEADER END */

/* BANNER START */
.banner{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 5% auto;
}
.banner-text{
    width: 500px;
}
.banner-image{
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: -20px 0px 0px 22px ;
    background-size: contain;
}
.banner-text h1{
    font-size: 50px;
}
.banner-text p{
    margin: 5% 0;
    font-weight: 600;
}
.primary-button{
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
.fa-arrow-right{
    margin-left: 10px;
}
/* BANNER END */


/* COMPANY LOGO START HERE */
.popular-collection{
    text-align: center;
    margin: 5% 0;
}
hr{
    width: 80%;
    margin: 0 auto;
    height: 1px;
}
.company-logo{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    align-items: center;
    gap: 50px;

}
.comp-logo{
    padding: 20px 0;
}
/* COMPANY LOGO END HERE */

/* product section starts */
.product-collection{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}
.product{
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
}

.price{
    font-size: 20px ;
    margin: 10px 0;
    font-weight: 100;
}
.product h2{
    margin: 10px 0;
}
.details{
    font-weight: 600;
    font-size: 15px;
    margin: 10px 0;
}
.fa-star{
    color: #FB8200 ;
}

