@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

/* UNIVERSAL */
* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arvo', serif;
    margin: 0 auto;
}

/* UNIVERSAL END */



/* HEADER START */
header nav {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 2% auto;
}

.bar {
    display: none;
}

.bar-ribbon {
    display: none;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-weight: 700;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.fa-search,
.fa-shopping-cart {
    font-size: 22px;
}

/* HEADER END */

/* BANNER START */
.banner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% auto;

}

.banner-text {
    width: 500px;
}

.banner-image {
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    background-position: -20px 0px 0px 22px;
    background-size: contain;
}

.banner-text h1 {
    font-size: 50px;
}

.banner-text p {
    margin: 5% 0;
    font-weight: 600;
}

.primary-button {
    border: none;
    font-size: 15px;
    font-weight: 700;
    background-color: #E02C6D;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 10px 0px #96063a;
    position: relative;
    color: white;
    top: 0px;
    cursor: pointer;
}

.primary-button:active {
    top: 5px;
    box-shadow: 0px 5px 0px #96063a;
}

.fa-arrow-right {
    margin-left: 10px;
}

/* BANNER END */


/* COMPANY LOGO START HERE */
.popular-collection {
    text-align: center;
    margin: 5% 0;
}

hr {
    width: 80%;
    margin: 0 auto;
    height: 1px;
}

.company-logo {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    gap: 50px;

}

.comp-logo {
    padding: 20px 0;
}

/* COMPANY LOGO END HERE */

/* product section starts */
.product-collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 80%;
    margin: 0 auto;
    gap: 30px;
}

.product {
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 10px;
}

.price {
    font-size: 20px;
    margin: 10px 0;
    font-weight: 100;
}

.product h2 {
    margin: 10px auto;
}

.details {
    font-weight: 600;
    font-size: 15px;
    margin: 10px auto;
}

.fa-star {
    color: #FB8200;
}

.seemore {
    display: flex;
    justify-content: right;
    width: 80%;
    margin: 5% auto;
    color: #E02C6D;
    font-weight: 700;
}

/* product section ends here */
/* optional section starts here */
.optional {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 90%;
    margin: 5% auto;
}

.optional-image {
    width: 80%;
}

.optional-image img {
    width: 100%;
}

.optional-text h1 {
    font-size: 50px;
}

.optional-text p {
    margin: 5% auto;
    text-align: justify;
    font-weight: 700;
}

@keyframes honey-anime {
    from {
        color: red;
    }

    to {
        color: blue;
    }
}

.honey {
    animation: honey-anime 0.2s linear 0s infinite alternate;
    display: inline-block;
    animation-play-state: running;
}

.join-now {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: #E02C6D;
    position: relative;
    box-shadow: 0px 5px 0px rgb(51, 0, 51);
    top: 0px;
}

.join-now:active {
    top: 5px;
    box-shadow: 0px 2px 0px rgb(51, 0, 51);
}

/* optional section ends here */

/* my idea section starts here */
.gallery-heading {
    text-align: center;
    margin: 5% auto;
}

.gallery-heading h1 {
    display: inline-block;
    border-bottom: 5px solid purple;
    padding-bottom: 5px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    margin: 0 auto;
    gap: 20px;
}

.gallery-image {
    width: 100%;
    border: 2px solid #E02C6D;
    border-radius: 5px;
    overflow: hidden;
}

.gallery img {
    width: 100%;
    height: 100%;
    transition: transform 2s linear;

}

.gallery-image:hover img {
    transform: scale(2);

}

/* my idea section ends here */

/* footer starts */
footer {
    text-align: center;
    margin-top: 5%;
    background-color: rgb(2, 2, 49);
    padding: 3% 0;
}

.footer-text {
    color: white;
}

.footer-image {
    margin-top: 3%;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.fab {
    margin: 0 2%;
}

/* footer ends */

/* media queries starts here */

/* media query for mobile devices */
@media only screen and (max-width:688px) {

    .banner {
        flex-direction: column;
        align-items: center;
    }

    .banner-text {
        width: 100%;
    }

    .nav ul {
        position: fixed;
        flex-direction: column;
        top: -250px;
        right: 250px;
        margin-left: -480px;
        transition: transform 3s linear;
        background-color: wheat;
        text-align: center;
    }

    .bar-ribbon {
        display: block;
        margin-top: 8px;
    }

    #bar:checked~ul {
        transform: translateY(300px);
    }

    .banner-image {
        order: 1;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-text {
        text-align: center;
        order: 2;
    }

    .item-last {
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }

    .company-logo {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        justify-content: center;
        margin-top: 50px;
    }

    .comp-logo img {
        object-fit: cover;
    }

    .product-collection {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
    }

    .product {
        text-align: center;
    }

    .optional {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
    }

    .optional-text {
        order: 1;
    }

    .optional-image {
        order: 2;
        margin: 5% auto;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* css breakpoint for ipad starts */
@media only screen and (min-width: 689px) and (max-width: 944px) {
    .company-logo {
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        justify-content: center;
    }

    .item-last {
        grid-column-start: 1;
        grid-column-end: 4;
        text-align: center;
    }

    .product-collection {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
}

/* css breakpoint ends for ipad */
@media only screen and (min-width:1500px) {
    .primary-button {
        padding: 20px 50px;
        font-size: 30px;
        border-radius: 20px;
    }

    nav {
        font-size: 30px;
    }

    .banner-image {
        margin-right: 500px;
    }

    .banner-image img {
        width: 200%;
    }

    .banner-text {
        white-space: wrap;
        width: 70%;
    }

    .banner-text p {
        font-size: 30px;
    }

    .banner {
        align-items: center;
    }

    .product-collection {
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        text-align: center;
    }

    .product img {
        width: 100%;
    }

    .seemore {
        font-size: 30px;
    }

    .optional-text {
        font-size: 20px;
    }

    .join-now {
        padding: 20px 50px;
        font-size: 30px;
        border-radius: 20px;
    }

    .honey {
        font-size: 50px;
    }

    footer {
        font-size: 30px;
    }

    .fab {
        font-size: 50px;
        padding: 20px;
        background-color: gray;
        border-radius: 50px;
    }
}